{% extends "app-forgot-password-layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

    
    {% block icon %}
        {% if email_sent %}
        <img class="h-20 w-auto mx-auto" src="{{url_for('static',filename='images/email.gif')}}">
        {% else %}
        <img class="h-20 w-auto mx-auto" src="{{url_for('static',filename='images/email.gif')}}">
        {% endif %}
    {% endblock %}

    {% block contentTitle %}{% if email_sent %}New Password{% else %}Email{% endif %}{% endblock %}
    {% block contentDescription %}{% if email_sent %}Update your account with a new password.{% else %}Receive a code to change your password.{% endif %}{% endblock %}

    <!-- Update & Email form -->
    {% block form_action %}
        {% if email_sent %}
        <form class="mt-0 sm:flex sm:items-center sm:justify-center sm:flex-wrap w-full" action="/forgot-password-update/{{email_form.username.data}}" method="post">
        {% else %}
            <form class="mt-0 sm:flex sm:items-center sm:justify-center sm:flex-wrap w-full" action="/forgot-password" method="post">
        {% endif %}
    {% endblock %}
        {% block wtf_hiddentag %}
            {% if email_sent %}
                {{ update_form.hidden_tag() }}
            {% else %}
                {{ email_form.hidden_tag() }}
            {% endif %}
        {% endblock %}
        {% block wtf_input %}
            {% if email_sent %}
                {{ update_form.password(placeholder="New Password", class_="block w-full rounded-md border-0 bg-white/5 py-1.5 pr-10 text-white ring-1 ring-inset ring-white/10 invalid:ring-1 invalid:ring-inset invalid:ring-red-500 placeholder:invalid:text-red-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 focus:invalid:ring-2 focus:invalid:ring-inset focus:invalid:ring-red-500 tracking-wider sm:text-sm sm:leading-6") }}
                {{ update_form.password2(placeholder="Confirm Password", class_="mt-2 block w-full rounded-md border-0 bg-white/5 py-1.5 pr-10 text-white ring-1 ring-inset ring-white/10 invalid:ring-1 invalid:ring-inset invalid:ring-red-500 placeholder:invalid:text-red-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 focus:invalid:ring-2 focus:invalid:ring-inset focus:invalid:ring-red-500 tracking-wider sm:text-sm sm:leading-6") }}
                {{ update_form.code(placeholder="aBc12345", class_="mt-2 block w-full rounded-md border-0 bg-white/5 py-1.5 pr-10 text-white ring-1 ring-inset ring-white/10 invalid:ring-1 invalid:ring-inset invalid:ring-red-500 placeholder:invalid:text-red-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 focus:invalid:ring-2 focus:invalid:ring-inset focus:invalid:ring-red-500 tracking-wider sm:text-sm sm:leading-6") }}
            {% else %}
                {{ email_form.username(placeholder="Email", _name="username", class_="block w-full rounded-md border-0 bg-white/5 py-1.5 pr-10 text-white ring-1 ring-inset ring-white/10 invalid:ring-1 invalid:ring-inset invalid:ring-red-500 placeholder:invalid:text-red-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 focus:invalid:ring-2 focus:invalid:ring-inset focus:invalid:ring-red-500 tracking-wider sm:text-sm sm:leading-6") }}
            {% endif %}
        {% endblock %}
        {% block wtf_submit %}
            {% if email_sent %}
                {{ update_form.submit(class_="w-full items-center justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") }}
            {% else %}
                {{ email_form.submit(class_="w-full items-center justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") }}
            {% endif %}
        {% endblock %}

