{% extends "layout.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/index.css')}}">
{% endblock %}

{% block title %}
    Email Verification
{% endblock %}

{% block main %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm ">
    {% block icon %}
    <img class="h-20 w-auto mx-auto" src="{{url_for('static',filename='images/email.gif')}}">
    {% endblock %}
    <h2 class="mt-8 text-center text-4xl font-semibold leading-9 text-white">{% block contentTitle %}Verify Email{% endblock %}</h2>
    <p class="mt-5 text-center text-gray-500 font-semibold text-lg tracking-tight leading-6">{% block contentDescription %}A new email has been sent to you, check your inbox or junk!{% endblock %}</p>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div id="forms">
      <!-- form -->
      <form class="mt-0 sm:flex sm:items-center" action="{% block form_action %}/email-verification{% endblock %}" method="post">
        {% block wtf_hiddentag %}
            {{ form.hidden_tag() }}
        {% endblock %}
        <div class="w-full sm:max-w-xs">
          {% block wtf_input %}
            {{ form.code(placeholder="aBc12345", class_="block w-full rounded-md border-0 bg-white/5 py-1.5 pr-10 text-white ring-1 ring-inset ring-white/10 invalid:ring-1 invalid:ring-inset invalid:ring-red-500 placeholder:invalid:text-red-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 focus:invalid:ring-2 focus:invalid:ring-inset focus:invalid:ring-red-500 tracking-wider sm:text-sm sm:leading-6") }}
          {% endblock %}
        </div>
        {% block wtf_submit %}
            {{ form.submit(class_="mt-3 inline-flex w-full items-center justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:ml-3 sm:mt-0 sm:w-auto") }}
        {% endblock %}
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block alerts %}
<div class="pointer-events-auto w-full md:w-1/3 max-w-sm overflow-hidden rounded-lg bg-gray-800 shadow-lg ring-inset ring-2 ring-indigo-800/50">
    <div class="p-4">
      <div class="flex items-start">
        <div class="flex-shrink-0">
          <svg class="h-4 w-4" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#4d6aff" stroke="#4d6aff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#3d5dff" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm0 192a58.432 58.432 0 0 0-58.24 63.744l23.36 256.384a35.072 35.072 0 0 0 69.76 0l23.296-256.384A58.432 58.432 0 0 0 512 256zm0 512a51.2 51.2 0 1 0 0-102.4 51.2 51.2 0 0 0 0 102.4z"></path></g></svg>
        </div>
        <div class="ml-3 w-0 flex-1">
          <p class="text-sm md:text-md font-semibold text-white/80 leading-none">Info</p>
          <p class="mt-1 text-xs text-white/80">Your new code expires in 30 mins. Refresh the page after 30 mins to get a new code.</p>
        </div>
        <div class="ml-0 flex flex-shrink-0">
          <button onclick="hideMessage(this)" type="button" class="inline-flex rounded-md bg-transparent text-indigo-400 hover:text-gray-500/90 focus:outline-none">
            <span class="sr-only">Close</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
{% if form.code.errors %}
    {% for error in form.code.errors %}
    <div class="pointer-events-auto w-full md:w-1/3 max-w-sm overflow-hidden rounded-lg bg-gray-800 shadow-lg ring-inset ring-2 ring-red-500/50">
      <div class="p-4">
        <div class="flex items-start">
          <div class="flex-shrink-0">
            <svg class="h-4 w-4" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#fca5a5" stroke="#fca5a5"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#f87171" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm0 192a58.432 58.432 0 0 0-58.24 63.744l23.36 256.384a35.072 35.072 0 0 0 69.76 0l23.296-256.384A58.432 58.432 0 0 0 512 256zm0 512a51.2 51.2 0 1 0 0-102.4 51.2 51.2 0 0 0 0 102.4z"></path></g></svg>
          </div>
          <div class="ml-3 w-0 flex-1">
            <p class="text-sm md:text-md font-semibold text-red-400 leading-none">Error</p>
            <p class="mt-1 text-xs text-red-400">{{error}}</p>
          </div>
          <div class="ml-0 flex flex-shrink-0">
            <button onclick="hideMessage(this)" type="button" class="inline-flex rounded-md bg-transparent text-indigo-400 hover:text-gray-500/90 focus:outline-none">
              <span class="sr-only">Close</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block scripts %}

<script>
$(document).ready(function(){
  showMain()
})
</script>

{% endblock %}