{% extends "layout.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/index.css')}}">
{% endblock %}

{% block title %}
    App Login
{% endblock %}

{% block main %}
<div>

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm ">
          <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
          <span class="moving-text"><h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-white">Sign in to your account</h2></span>
        </div>
      
        <div class="mt-0 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" action="/login" method="post">
            {{ form.hidden_tag() }}
            <div>
              <label for="username" class="block text-sm font-medium leading-6 text-white">Username</label>
              <div class="mt-2">
                {{ form.username(class_="block w-full rounded-md border-0 bg-white/5 py-1.5 pr-10 text-white ring-1 ring-inset ring-white/10 invalid:ring-1 invalid:ring-inset invalid:ring-red-500 placeholder:invalid:text-red-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 focus:invalid:ring-2 focus:invalid:ring-inset focus:invalid:ring-red-500 sm:text-sm sm:leading-6") }}
                {% if form.username.errors %}
                  {% for error in form.username.errors %}
                    <p class="mt-2 text-xs text-red-300">{{ error }}</p>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
      
            <div>
              <div class="flex items-center justify-between">
                <label for="password" class="block text-sm font-medium leading-6 text-white">Password</label>
                <div class="text-sm">
                  <a href="#" class="font-semibold text-indigo-400 hover:text-indigo-300">Forgot password?</a>
                </div>
              </div>
              <div class="mt-2">
                {{ form.password(class_="block w-full rounded-md border-0 bg-white/5 py-1.5 pr-10 text-white ring-1 ring-inset ring-white/10 invalid:ring-1 invalid:ring-inset invalid:ring-red-500 placeholder:invalid:text-red-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 focus:invalid:ring-2 focus:invalid:ring-inset focus:invalid:ring-red-500 sm:text-sm sm:leading-6") }}
                {% if form.password.errors %}
                  {% for error in form.password.errors %}
                    <p class="mt-2 text-xs text-red-300">{{ error }}</p>
                  {% endfor %}
                {% endif %}
              </div>
            </div>

            <div style="transform:scale(0.7);transform-origin:0 0;filter: invert(0.8) hue-rotate(180deg);">
              {{ form.recaptcha }}
              {% if form.recaptcha.errors %}
                {% for error in form.recaptcha.errors %}
                  <p class="mt-2 text-lg text-red-500">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>
              
            <div>
                
                {{ form.submit(class_="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500") }}
            </div>
          </form>
      
          <p class="mt-2 text-center text-sm text-gray-400">
            Don't have an account?
            <a href="{{ url_for('register') }}" class="font-semibold leading-6 text-indigo-400 hover:text-indigo-300">Sign up</a>
          </p>
        </div>
      </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    showMain()
  })
  </script>

{% endblock %}