{% extends "layout.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{url_for('static',filename='src/index.css')}}">
{% endblock %}

{% block title %}
    .
{% endblock %}

{% block main %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm ">
    {% block icon %}
    {% endblock %}
    <h2 class="mt-8 text-center text-4xl font-semibold leading-9 text-white">{% block contentTitle %}{% endblock %}</h2>
    <p class="mt-5 text-center text-gray-500 font-semibold text-lg tracking-tight leading-6">{% block contentDescription %}{% endblock %}</p>
  </div>

  <div class="mt-10 sm:mx-auto w-full sm:max-w-sm">
    <div id="forms">
      <!-- form -->
      {% block form_action %}<form class="mt-0 sm:flex sm:items-center" action="" method="post">{% endblock %}
        {% block wtf_hiddentag %}
        {% endblock %}
        <div class="w-full sm:max-w-xs">
          {% block wtf_input %}
          {% endblock %}
        </div>
        <div class="sm:max-w-xs mt-4 w-full">
            {% block wtf_submit %}
            {% endblock %}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script>
$(document).ready(function(){
  showMain()
})
</script>

{% endblock %}