{% extends "layout.html" %}

{% block title %}
    Retrieve Login Code
{% endblock %}

{% block main %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div id="codes-container" class="mt-0 max-w-md mx-auto w-full sm:mx-auto sm:w-full sm:max-w-md">
        <h1 class="text-indigo-500 font-extrabold text-3xl mb-4">Telegram Code Retrieval</h1>
        <ul id="codes" class="text-white"></ul>
        <div class="flex flex-row-reverse mt-8">
            <button id="retrieve-code-btn" type="button" class="w-full md:w-auto justify-center inline-flex items-center gap-x-2 rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-white/30">
                Poll
                <div id="spinner" style="border-top-color:transparent" class="w-5 h-5 border-4 border-yellow-500 border-solid rounded-full animate-spin"></div>
            </button>
        </div>
    </div>
    
</div>

{% endblock %}

{% block alerts %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="pointer-events-auto w-full md:w-1/3 max-w-sm overflow-hidden rounded-lg bg-white/90 shadow-lg ring-1 ring-white ring-opacity-5">
      <div class="p-4">
        <div class="flex items-start">
          <div class="flex-shrink-0 mt-1">
            <svg class="h-6 w-6" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#4d6aff" stroke="#4d6aff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#3d5dff" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm0 192a58.432 58.432 0 0 0-58.24 63.744l23.36 256.384a35.072 35.072 0 0 0 69.76 0l23.296-256.384A58.432 58.432 0 0 0 512 256zm0 512a51.2 51.2 0 1 0 0-102.4 51.2 51.2 0 0 0 0 102.4z"></path></g></svg>
          </div>
          <div class="ml-3 w-0 flex-1">
            <p class="text-sm md:text-lg font-semibold text-gray-900 leading-none">{{category}}</p>
            <p class="mt-1 text-sm text-gray-900">{{message}}</p>
          </div>
          <div class="ml-4 flex flex-shrink-0">
            <button onclick="hideMessage(this)" type="button" class="inline-flex rounded-md bg-white text-gray-400/90 hover:text-gray-500/90 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <span class="sr-only">Close</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}

{% block scripts %}
<script>
    const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

    const default_li = `<li><h1 class="text-8xl font-extrabold tracking-widest">XXXXX</h1><p class="text-xs text-white/60 font-light font-mono leading-3">XXXXX, XX XXX XXXX</p><p class="text-xs text-white/60 font-light font-mono leading-5">XX:XX</p></li>
                    <li><h1 class="text-6xl text-white/80 font-extrabold tracking-widest">XXXXX</h1><p class="text-xs text-white/60 font-light font-mono leading-3">XXXXX, XX XXX XXXX</p><p class="text-xs text-white/60 font-light font-mono leading-5">XX:XX</p></li>
                    <li><h1 class="text-6xl text-white/80 font-extrabold tracking-widest">XXXXX</h1><p class="text-xs text-white/60 font-light font-mono leading-3">XXXXX, XX XXX XXXX</p><p class="text-xs text-white/60 font-light font-mono leading-5">XX:XX</p></li>`

    // Change these values to adjust poll frequency
    const poll_expiry_duration = 10000
    const poll_interval_duration = 4000

    const constructAlert = (svgHtml,title,description) =>{
        a = `
                <div class="pointer-events-auto w-full md:w-1/3 max-w-sm overflow-hidden rounded-lg bg-gray-800 shadow-lg ring-inset ring-2 ring-indigo-800/50">
                    <div class="p-4">
                      <div class="flex items-start">
                        <div class="flex-shrink-0">
                          ${svgHtml}
                        </div>
                        <div class="ml-3 w-0 flex-1">
                          <p class="text-sm md:text-md font-semibold text-white/80 leading-none">${title}</p>
                          <p class="mt-1 text-xs text-white/80">${description}</p>
                        </div>
                        <div class="ml-0 flex flex-shrink-0">
                          <button onclick="hideMessage(this)" type="button" class="inline-flex rounded-md bg-transparent text-indigo-400 hover:text-gray-500/90 focus:outline-none">
                            <span class="sr-only">Close</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
        `
        $("#construct-alert > div").append(a)
    }

    const showMessage = (message) =>{
        svgHtml = `<svg class="h-4 w-4" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#4d6aff" stroke="#4d6aff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#3d5dff" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm0 192a58.432 58.432 0 0 0-58.24 63.744l23.36 256.384a35.072 35.072 0 0 0 69.76 0l23.296-256.384A58.432 58.432 0 0 0 512 256zm0 512a51.2 51.2 0 1 0 0-102.4 51.2 51.2 0 0 0 0 102.4z"></path></g></svg>`
        constructAlert(svgHtml,"Information",message)
    }
    const startPollingBtn = (start_time) =>{
        disableBtn()
        elapsed_percentage = 100 - ((((start_time+poll_expiry_duration) - Date.now())/poll_expiry_duration)*100)

        // changes btn text to Polling
        $("#retrieve-code-btn").contents().filter(function(){ 
            return this.nodeType == Node.TEXT_NODE; 
        })[0].nodeValue = `${~~elapsed_percentage}%`

        // show spinner
        $("#spinner").show()
    }
    const stopPollingBtn = () =>{
        enableBtn()
        // changes btn text to Poll
        $("#retrieve-code-btn").contents().filter(function(){ 
            return this.nodeType == Node.TEXT_NODE; 
        })[0].nodeValue = "Poll"

        // hide spinner
        $("#spinner").hide()
    }
    const disableBtn = () =>{
        $("#retrieve-code-btn").prop("disabled", true)
    }
    const enableBtn = () =>{
        $("#retrieve-code-btn").prop("disabled", false)
    }

    const pollCodes = (run_once, interval, start_time = Date.now(), invocation = 0) =>{

            if (!run_once){
                startPollingBtn(start_time)
            }

            // Check if its been >poll_expiry_duration of polling since start_time
            if (!run_once && invocation > 0){
                expiry_time = start_time + poll_expiry_duration // expiry
                if (Date.now() > expiry_time){
                    stopPollingBtn() // update btn
                    return
                }
            }
            // Ajax to get login code data
            $.getJSON("/retrieve-code-btn", (data)=>{
                
                if (data.codes.length == 0){
                    showMessage(data.message)
                    
                    $("#codes").html(default_li)

                }else{

                    li_data = ""

                    for(i=0;i<data.codes.length;i++){
                        date_obj = new Date(data.codes[i].timestamp)
                        date_year = date_obj.getFullYear()
                        date_month = months[date_obj.getMonth()]
                        date_date = date_obj.getDate()
                        date_day = days[date_obj.getDay()]
                        date_hr = date_obj.getHours()
                        date_min = date_obj.getMinutes()
                        if (i == 0){
                            li_data += `<li><h1 class="text-8xl font-extrabold tracking-widest">${data.codes[i].code}</h1><p class="text-xs text-white/60 font-light font-mono leading-3">${date_day}, ${date_date} ${date_month} ${date_year}</p><p class="text-xs text-white/60 font-light font-mono leading-5">${date_hr}:${date_min}</p></li>`
                        }else{
                            li_data += `<li><h1 class="text-6xl text-white/80 font-extrabold tracking-widest">${data.codes[i].code}</h1><p class="text-xs text-white/60 font-light font-mono leading-3">${date_day}, ${date_date} ${date_month} ${date_year}</p><p class="text-xs text-white/60 font-light font-mono leading-5">${date_hr}:${date_min}</p></li>`
                        }
                        
                    }
                    $("#codes").html(li_data)
                }

                showMain()

                // count invocations of this function
                invocation++

                // call polling func again after an interval
                if (!run_once){
                    setTimeout(pollCodes.bind(this,run_once,interval,start_time,invocation), interval);
                }
            }).fail((data)=>{
                if (run_once){
                    $("#codes").html(default_li)
                }
                showMessage(data.responseJSON.message)
                stopPollingBtn()
            }).always(()=>{
                $("#retrieve-code-btn").show()
            })
    }

    $(document).ready(function(){
        showMessage(`'Poll' attempts to retrieve your code multiple times over ${poll_expiry_duration/1000} seconds`)
        $("#retrieve-code-btn").hide()
        stopPollingBtn()
        // poll once on page load
        pollCodes(true,0)
        $("#retrieve-code-btn").click((e)=>{
            e.preventDefault()
            // poll server every {poll_interval_duration} seconds for {poll_expiry_duration} seconds
            // disable button after click
            pollCodes(false, poll_interval_duration);
        })
    })
</script>
{% endblock %}