/* body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
  } */
  
  .moving-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .moving-text :first-child{
    color: rgba(255, 255, 255, 0.01);
    background-image: url('/static/images/gummies.jpg');
    background-repeat: repeat;
    -webkit-background-clip:text;
    background-clip: text;
    animation: animate 15s ease-in-out infinite;
  }
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }